// COMPONENTS/ARTIST-BOX

.artist-box {
    background-color: $black;
    transition: all .15s ease;


    .artist-box__image {
        overflow: hidden;

        img {
            transition: all .33s ease;
            max-height: 250px;
        }
    }

    .artist-box__info { padding: 20px; }

    .artist-box__info-number {
        color: $light-grey;
    }

    .artist-box__info-name {
        text-decoration: none;
        color: $white;

        &:hover {
            text-decoration: underline;
            color: $green;
        }
    }

    .artist-box__info-separator {
        padding: 0px 10px;
        font-size: 20px;
        color: $grey;
    }

    &:hover {
        cursor: pointer;

        img { transform: scale(1.03); }

        .artist-box__info-number { color: $white; }

        .artist-box__info-name {
            color: $green;
            text-decoration: underline;
        }
    }
}