// PAGES/ARTISTS

.artists {

    .top-text {
        padding: 0px 40px;
    }

    .top-text__wrapper {
        display: inline-block;
        max-width: 700px;
    }

    .authButton--container {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 40px 0px;
    }

    .container {
        padding: 30px 0px;
    }

    .top-list__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
